main {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 50px;
  margin: 0 auto;
  padding: 0 145px;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  max-width: 1490px;
}

.main-container {
  width: 100%;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 21px;
  width: 42px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 14px;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.main-title {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.main-subtitle {
  font-size: 18px;
  text-align: center;
  margin: 8px 0 28px 0;
  line-height: 24px;
}

.references {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.author-img {
  padding: 10px;
}

.author-infos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-infos strong {
  padding: 10px;
  border-right: 1px solid var(--color-gray-0);
}

.caption {
  font-size: 12px;
  color: var(--color-gray-3);
  text-align: center;
  margin: 20px;
}

.paragraph {
  font-size: 20px;
  color: var(--color-black-1);
  line-height: 32px;
  margin: 17px 0;
}

.section {
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 10px 20px 22px 20px;
  box-sizing: border-box;
}

.movie-container {
  display: flex;
  gap: 24px;
}

.section h2 {
  font-family: var(--font-bold);
  font-size: 48px;
  line-height: 54px;
}

.movie-info h3 {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3px 9px;
  margin-top: 12px;
}

.movie-info p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  line-height: 24px;
  font-family: var(--font-bold);
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slides-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: var(--color-black-1);
  color: var(--color-white);
  width: 78px;
  height: 27px;
}

.main-subtitle2 {
  font-family: var(--font-bold);
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 12px;
}

.movie-cine-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile {
  display: none;
}

.left-arrow {
  width: 20px;
  height: 38px;
}

.right-arrow {
  width: 20px;
  height: 38px;
}

.movie-cine-container img {
  width: calc(100% - 80px);
}

.movie-cine-container figcaption {
  color: var(--color-gray-4);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin: 8px 0 34px 0;
}

.main-subtitle3 {
  font-size: 36px;
  font-family: var(--font-bold);
  line-height: 32px;
  margin: 16px 0;
}

.main-subtitle4 {
  font-size: 28px;
  font-family: var(--font-bold);
  line-height: 32px;
  margin: 16px 0;
}

.learn-more {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-primary);
  padding: 26px 53px 12px 22px;
  width: 390px;
  gap: 40px;
  border-radius: 6px;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.description h4 {
  font-family: var(--font-bold);
  font-size: 18px;
  line-height: 23px;
}

.cinema-infos li {
  position: relative;
  padding: 10px 0 10px 18px;
  font-size: 22px;
  line-height: 23px;
  color: var(--color-black-1);
}

.cinema-infos li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-primary);
}

.cinema-infos li a {
  text-decoration: underline;
}

.tags {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 68px 0;
}

.tags h2 {
  font-family: var(--font-bold);
  font-size: 48px;
  line-height: 54px;
}

.tags ul {
  display: flex;
  gap: 12px;
  width: 100%;
}

.tags li {
  padding: 8px 18px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-family: var(--font-bold);
}

.tags a {
  color: var(--color-black-1);
}

.section-cinema {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 33px;
  font-family: var(--font-bold);
}

.title-cinema {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-cinema h2 {
  font-size: 48px;
  line-height: 54px;
  margin-right: 8px;
}

.section-cinema span {
  font-size: 22px;
  line-height: 28px;
}

.banners {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
  width: 900px;
  margin-bottom: 50px;
}

.cinema-content {
  width: 246px;
  color: var(--color-white);
  z-index: 999;
  padding: 12px 20px 20px 20px;
  box-sizing: border-box;
}

.position1 {
  position: absolute;
  top: 0;
  left: 0;
}

.position2 {
  position: absolute;
  top: 0;
  left: 270px;
}

.position3 {
  position: absolute;
  top: 0;
  left: 540px;
}

.cinema-description {
  margin-top: 116px;
}

.cinema-content h2 {
  font-family: var(--font-bold);
  font-size: 12px;
  border-left: 4px solid var(--color-primary);
  line-height: 15px;
  padding: 0 3px;
}

.cinema-content p {
  font-family: var(--font-bold);
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
}

.banners img {
  width: 246px;
  border-radius: 6px;
}

.img-mobile {
  display: none;
}

.shadow-effect1 {
  position: absolute;
  background: transparent linear-gradient(180deg, #1c1c1c00 0%, #1c1c1c 100%) 0%
    0% no-repeat padding-box;
  z-index: 999;
  width: 246px;
  height: 302px;
}

.shadow-effect2 {
  position: absolute;
  top: 0;
  left: 270px;
  background: transparent linear-gradient(180deg, #1c1c1c00 0%, #1c1c1c 100%) 0%
    0% no-repeat padding-box;
  z-index: 999;
  width: 246px;
  height: 302px;
}

.shadow-effect3 {
  position: absolute;
  top: 0;
  left: 540px;
  background: transparent linear-gradient(180deg, #1c1c1c00 0%, #1c1c1c 100%) 0%
    0% no-repeat padding-box;
  z-index: 999;
  width: 246px;
  height: 302px;
}

.cinema-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 90px;
  height: 28px;
  background: #1d1c1d 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.cinema-icons img {
  width: 18px;
}
